{% include base_path %}

<!-- start custom head snippets -->

<link rel="shortcut icon" href="{{ base_path }}/images/favicon.ico?v=3">
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon.png?v=3">
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_path }}/images/favicon-32x32.png?v=3">
<link rel="icon" type="image/png" sizes="16x16" href="{{ base_path }}/images/favicon-16x16.png?v=3">
<link rel="manifest" href="{{ base_path }}/images/site.webmanifest?v=3">
<link rel="mask-icon" href="{{ base_path }}/images/safari-pinned-tab.svg?v=3" color="#6FA8DC">

<meta name="msapplication-TileColor" content="#6FA8DC">
<meta name="msapplication-TileImage" content="{{ base_path }}/images/mstile-150x150.png?v=3">
<meta name="msapplication-config" content="{{ base_path }}/images/browserconfig.xml?v=3">
<meta name="theme-color" content="#6FA8DC">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400&family=Source+Sans+3:ital,wght@0,400;0,500;0,600;1,400&display=swap">

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<!-- Support for MatJax -->
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- end custom head snippets -->
